@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

.body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('./assets/_e15920c8-73f1-44c4-8a5c-aa0dd9b8fa29.jpg') ;
  
  
}
